// container sizing
$width: 990px;
html {
  width: $width;
  height: $width * 1.5;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
}
// header
$header_height: 25px;
// print
@page {
  size: A4;
  margin: 0;
}
// color theme
$color_background: #ffffff;
$color_on-background: #737373;
$color_on-background_light: #bfbfbf;
$color_primary: #bfd2d6;
$color_primary_variant: darken($color_primary, 20%);
$color_on-primary: #ffffff;
// font
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
$font-primary: 'Noto Sans Japanese';
// text
%text_long {
  font-size: 13px;
  color: darken($color_on-background_light, 20%);
  font-weight: 300;
}
%text_short {
  font-size: 12px;
  color: darken($color_on-background, 40%);
  font-weight: 300;
  letter-spacing: 1px;
}
%text_short_light {
  font-size: 11px;
  color: darken($color_on-background, 20%);
  font-weight: 100;
  letter-spacing: 1px;
}

%text_chapter-title {
  font-size: 37px;
  color: $color_primary;
  font-weight: 300;
  letter-spacing: -1px;
}
