// container sizing
$width: 990px;
html {
  width: $width;
  height: $width * 1.5;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0;
  border: 1px solid #aaaaaa;
}
body {
  width: 100%;
  height: 100%;
}
// print
@page {
  size: A4;
  margin: 0;
}
// color theme
$color_background: #ffffff;
$color_on-background: #737373;
$color_on-background_light: #a5a5af;
$color_primary: #bfd2d6;
// font
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
$font-primary: 'Noto Sans Japanese';
